page-ubah-password {
    $base-color: rgb(255, 255, 255);
  //24, 72, 90  
.login-button {
    width: 100%;
    height: 40px;
    font-size: 1.2em;
    span {
      color: $base-color !important;
    }
    // border: 1px solid #fff;
  }
  .header{
    text-align: center;
}

}
